section {
    display: flexbox;
    border: 2px solid black;
}
#forms {
    border: 2px solid black;
    display: flexbox;
    flex-direction: row-reverse;
    justify-items: center;
}
form {
    justify-items: center;
}
#envelopes {
    border: 2px solid black;
}